@model List<CategoryDTO>
<div class="container-xxl flex-grow-1 container-p-y">


    <h4 class="fw-bold py-3 mb-4">
        <span class="text-muted fw-light">RECYCLE BIN/</span> Categories
    </h4>


    <div class="card">
        <div class="table-responsive text-nowrap m-3">

           

            <table class="table table-bordered" id="categoryTable" width="100%" cellspacing="0">
               
                <thead>
                    <tr>
                        <th>Category Name</th>
                        <th>Created Date</th>
                        <th>Created By</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Category Name</th>
                        <th>Created Date</th>
                        <th>Created By</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </tfoot>
                <tbody class="table-border-bottom-0">

                    @foreach (var category in Model)
                    {
                        <tr name="@category.ID">
                            <td>@category.CategoryName</td>
                            <td>@category.CreatedDate.ToShortDateString()</td>
                            <td>@category.CreatedBy</td>
                            <td>@(category.IsDeleted ? "None Active" : "Active")</td> 
                            <td>
                                <a class="btn btn-warning btn-sm" data-id="@category.ID" asp-area="Admin" asp-controller="Category" asp-action="UndoDelete" asp-route-Id="@category.ID"> <i class='bx bx-undo'></i></a>
                                
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
 


</div>
@section Scripts{
    <script src="~/js/categoryIndex.js" type="application/ecmascript"></script>
} 